####  To know the adress

In [20]:
A=("basha")
print(id(A))

2693949143056

#### to know data type

In [23]:
B=("10,20,basha")
print (type(B))

<class 'str'>

#### multi varaibles

In [28]:
A,B,C,D=20,40,60,80
print(A)
print(B)
print(C)
print(D)

20
40
60
80

### 1_ST CLASSIFICATIONS
#### FUNDAMENTAL  D_TAPYES
##### INT

In [38]:
A=60      #it will takes both +vve and -ve values in int 
B=-45
print(type(B))

<class 'int'>

##### float

In [51]:
A= 6.6 #stores with decimals or fractions part
B=7.28
print(type(B))

<class 'float'>

##### complex

In [56]:
A= 4+5J  # its in form of A+bj format 
b=7+9J   # here a is real part and , b is imaginary part
print(type(A))

<class 'complex'>

##### boolein

In [70]:
A= True   # represents true or false values 
B= False
print(type(A))

<class 'bool'>

##### sting

In [68]:
A= "basha"   # represents the values  in ' or " 
B='shaik'
print(type(A))

<class 'str'>

#### collection of D_types

##### list

In [80]:
list=[10,12.4,6+9j,False,"python"] # represents all fundamental d_types in []
print(type(list))

<class 'list'>

In [86]:
tuple=(10,12.4,6+9j,False,"python") # same as list but represents in () 
print(type(tuple))

<class 'tuple'>

In [90]:
S={20,40,60,80} # contains a gruop of elements in un_ordered manner 
print(type(S))

<class 'set'>

In [96]:
S={20:"Age",60000:"salary"} # here 20 is key , and age is value
print(type(S))

<class 'dict'>

#### 2nd_classification
##### immutable
###### APPEND

In [127]:
list= 20,40,30,60 # not able to modify data with same address in all fundamenta d_types and tuples
print (list)
list.append(55)

(20, 40, 30, 60)

AttributeError: 'tuple' object has no attribute 'append'

#### mutable

In [123]:
list= [20,40,50,70]#applicalbe only for list, set, dict
list.append(55) # able to add values to same address
print(list)

[20, 40, 50, 70, 55]