#### MEMBERSHIP_operations
##### -IN
##### - NOT IN

In [5]:
s="python"
print ("p" in s) # IN_OPERARETER

True

In [7]:
s="python"
print ("b" in s) # NOT_IN_OPERARETER

False

##### tuple_quote

In [14]:
print(""" python line 1
    pythonn line2
    python line3""")   # to write comnt or code more lines

 python line 1
    pythonn line2
    python line3

##### string_ indexing

In [32]:
Name= "Basha"   # index count starts from 'o'
print(len(Name))
print(Name[0])

5
B

##### string slicing

In [61]:
Name= "Shaik Mahaboob basha"
print(len(Name))
print(Name[6:17]) #slicing in b/w range

20
Mahaboob ba

In [71]:
Name= "Shaik Mahaboob basha"
print(len(Name))
print(Name[8:]) # except before given nummbers

20
haboob basha

In [77]:
Name= "Shaik Mahaboob basha"
print(len(Name))
print(Name[::]) # gives total values

20
Shaik Mahaboob basha

In [83]:
Name= "Shaik Mahaboob basha"
print(len(Name))
print(Name[:7]) # prints from 0 - given number

20
Shaik M

##### reverse_of_string

In [117]:
Name= "Shaik Mahaboob basha"
print(len(Name)) 
print(Name[::-1])# prints reverse to given  variable

20
ahsab boobahaM kiahS

In [129]:
Name= "Shaik Mahaboob basha"
print(Name* 10)  # print in mutltiples of times

Shaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob bashaShaik Mahaboob basha

##### inserting

In [181]:
T=[55,22.3,"computer"]
print("before",T)   # in tuple not able to insert
print("_____________________________")
T.insert(28,8)    # the second value is inserted 
print(T)

before [55, 22.3, 'computer']
_____________________________
[55, 22.3, 'computer', 8]

##### Replacing

In [219]:
t=[55,22.3,"computer",100,1000,520]
t[3]=421 # replcing by index number
print(t)

[55, 22.3, 'computer', 421, 1000, 520]

#### Deletion

In [486]:
T=[55,22.3,"computer",100,1000,520]
del T[4] #deletion done by index whole variable parmennantly
print(T)

[55, 22.3, 'computer', 100]

### methods in list
##### append

In [232]:
u=[55,22.3,"computer",100,1000,520]
u.append(56)  # add new values 
print(u)

[55, 22.3, 'computer', 100, 1000, 520, 56]

##### Clear

In [494]:
u=[55,22.3,"computer",100,1000,520]
u.clear()  #the variable wil be still alive in memory
print(u)

[]

#### copy

In [247]:
u=[55,22.3,"computer",100,1000,520]
v=u.copy()
print('u=',u)
print('v=',v)

u= [55, 22.3, 'computer', 100, 1000, 520]
v= [55, 22.3, 'computer', 100, 1000, 520]

In [257]:
u=[55,22.3,"computer",100,1000,520]
v=u.copy()
print(u)
print(v)

[55, 22.3, 'computer', 100, 1000, 520]
[55, 22.3, 'computer', 100, 1000, 520]

#### Count

In [528]:
a=[10,1.2,15,2,5555,"pyhon",5+6j,True]
print (a.count(10))

1

##### index

In [461]:
a=[10,1.2,15,2,"pyhon",5+6j,True]
b=[11,5.2,7,88,"computer",9+6j,False]
print (a.index(15))
print (b.index(88)) # to know index of values

2
3

#### extend

In [516]:
a=[10,20,40,50]
b=[50,55,77]
a.extend (b) # to extend values 
print (a)

[10, 20, 40, 50, 50, 55, 77]

##### pop

In [535]:
g=[10, 20, 40, 50, 50, 55, 77]
g.pop()  # by defalut it'll remove last value in () we have pass values wana remove 
print (g)

[10, 20, 40, 50, 50, 55]